<h2 class="text-2xl font-bold mb-4">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="mb-2">
    <%= f.label :email, class: 'block text-gray-300 mb-1' %>
    <%= f.email_field :email, autofocus: true, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :username, class: 'block text-gray-300 mb-1' %>
    <%= f.text_field :username, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :full_name, class: 'block text-gray-300 mb-1' %>
    <%= f.text_field :full_name, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :tags, class: 'block text-gray-300 mb-1' %>
    <%= f.text_field :tags, value: @user.parsed_tags.join(', '), class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :avatar, class: 'block text-gray-300 mb-1' %>
    <%= f.text_field :avatar, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :banner, class: 'block text-gray-300 mb-1' %>
    <%= f.text_field :banner, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :banner_enabled, class: 'block text-gray-300 mb-1' %>
    <%= f.check_box :banner_enabled, class: 'rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :description, class: 'block text-gray-300 mb-1' %>
    <%= f.text_area :description, class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="field">
    <%= f.label :public_analytics %>
    <%= f.check_box :public_analytics %>
  </div>

  <div class="mb-2">
    <%= f.label :password, class: 'block text-gray-300 mb-1' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: 'w-full p-1 rounded text-black' %>
    <i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="mb-2">
    <%= f.label :password_confirmation, class: 'block text-gray-300 mb-1' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :current_password, class: 'block text-gray-300 mb-1' %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'w-full p-1 rounded text-black' %>
    <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions mb-2">
    <%= f.submit "Update", class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-1 px-2 rounded' %>
  </div>
<% end %>

<h3 class="text-xl font-bold mb-2">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded' %></p>

<%= link_to "Back", :back, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded' %>
