<%= link_to 'New Task', new_task_path %>

<div class="container">
  <div class="row">
    <% ['To Do', 'In Progress', 'Completed'].each do |status| %>
      <div class="col-4">
        <h3><%= status %></h3>
        <!-- Connect with Stimulus controller -->
        <div class="task-list" data-controller="sortable" id="<%= status.parameterize %>">
          <% @tasks.select { |task| task.status == status }.sort_by(&:priority).each do |task| %>
            <div class="card" data-id="<%= task.id %>" draggable="true">
              <div class="card-body">
                <p><%= task.description %></p>
                <p><strong>Priority: </strong><%= task.priority %></p>
                <p><strong>Category: </strong><%= task.category %></p>
                <%= link_to 'Edit', edit_task_path(task) %> |
                <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
