<h1><%= @task.description %></h1>
<p><strong>Status: </strong><%= @task.status %></p>
<p><strong>Priority: </strong><%= @task.priority %></p>
<p><strong>Category: </strong><%= @task.category %></p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
