<!-- app/views/shared/_user_fields.html.erb -->

<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :short_description %>
  <%= f.text_area :short_description, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :tags %>
  <%= f.text_field :tags, class: 'form-control' %>
</div>
