<!-- app/views/shared/_user_fields.html.erb -->

<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :short_description %>
  <%= f.text_area :short_description, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :tags %>
  <%= f.text_field :tags, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :background_color %>
  <%= f.text_field :background_color, class: 'form-control', type: 'color' %>
  <div class="form-check">
    <%= f.check_box :clear_background_color, class: 'form-check-input' %>
    <%= f.label :clear_background_color, 'Clear Background Color', class: 'form-check-label' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :background_image %>
  <%= f.file_field :background_image, class: 'form-control-file' %>
  <div class="form-check">
    <%= f.check_box :remove_background_image, class: 'form-check-input' %>
    <%= f.label :remove_background_image, 'Remove Background Image', class: 'form-check-label' %>
  </div>
</div>
