<!-- app/views/shared/_user_fields.html.erb -->

<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :short_description %><br />
  <%= f.text_area :short_description %>
</div>

<div class="field">
  <%= f.label :tags %><br />
  <%= f.text_field :tags %>
</div>
