<div id="contentArea" class="container-fluid h-100 d-flex flex-column text-light bg-transparent">
  <div class="row flex-grow-1 overflow-hidden">
    <div class="col">
      <div class="container mt-4 text-light bg-transparent">
        <div class="row">
          <div class="col">
            <% if @user %>
              <div class="text-center">
                <%= image_tag 'banner.png', alt: 'User Banner', class: 'img-fluid mb-4 rounded', style: 'width: 20%;' %>
                
                <!-- Your search bar stays here -->
                <form action="https://www.google.com/search" class="d-flex justify-content-center mb-4 bg-transparent rounded p-2" method="get">
                  <div class="input-group" style="width: 80%;">
                    <input type="text" name="q" class="form-control text-light rounded custom-placeholder" placeholder="Search Google" style="margin-right: 8px; background-color: rgba(0, 0, 0, 0.7);">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-light"><i class="fas fa-search"></i> Search</button>
                    </div>
                  </div>
                </form>
                
                <!-- Pinned links -->
                <div class="d-flex flex-row justify-content-center mb-4">
                  <% @links.each do |link| %>
                    <% if link.links_enabled && !link.public && link.links_pinned %>
                      <a href="<%= link.links_url %>" target="_blank" rel="noopener noreferrer" style="margin: 0 10px; text-decoration: none;">
                        <i class="<%= link.links_icon %> fa-2x text-dark"></i>
                      </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
              
              <!-- Unpinned links -->
              <div class="card text-light shadow-lg" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="card-body d-flex flex-column align-items-center justify-content-center"> <!-- Added classes here -->
                  <div class="row w-100">  <!-- Added w-100 to make row full width -->
                    <% @links.each_with_index do |link, index| %>
                      <% if link.links_enabled && !link.public && !link.links_pinned %>
                        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                          <a href="<%= link.links_url %>" class="link-item align-self-center text-center text-light" target="_blank" rel="noopener noreferrer">
                            <img src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
                            alt="favicon" 
                            class="fa-2x text-light"
                            onerror="this.alt=''; this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
                            <span class="d-block mt-2 link-text"><%= link.links_display_name %></span>
                          </a>
                        </div>
                      <% end %>
                      <% if (index + 1) % 4 == 0 %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="text-center mt-4">
                <h1 id="welcomeHeader" class="display-4 text-light">Welcome to Loftwah's Dashboard</h1>
                <p class="lead mt-4 text-light">Please sign in to see your personalized settings.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
