<div id="contentArea" class="container-fluid h-100 d-flex flex-column text-light bg-dark">
  <div class="row flex-grow-1 overflow-hidden"> <!-- Prevent scrolling -->
    <div class="col">
      <div class="container mt-4 text-dark">
        <div class="row">
          <div class="col">
            <% if @user %>
            <div class="text-center">
              <%= image_tag 'banner.jpg', alt: 'User Banner', class: 'img-fluid mb-4 rounded', style: 'width: 50%;' %>
              <form action="https://www.google.com/search" class="d-flex justify-content-center mb-4 bg-dark rounded p-2" method="get">
              <div class="input-group" style="width: 50%;">
                <input type="text" name="q" class="form-control bg-dark text-light rounded" placeholder="Search Google" style="margin-right: 8px;"> <!-- Added inline style for margin-right -->
                <div class="input-group-append">
                  <button type="submit" class="btn btn-light"><i class="fas fa-search"></i> Search</button>
                </div>
              </div>
            </form>
            </div>
              <div class="card text-dark shadow-lg">
              <div class="card-body">
                <div class="row">
                  <% @links.each_with_index do |link, index| %>
                    <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                      <% if link.links_enabled %>
                        <a href="<%= link.links_url %>" class="text-center text-dark" target="_blank" rel="noopener noreferrer">
                        <img src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
                            alt="favicon" 
                            class="fa-2x mb-2 text-dark" 
                            onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
                        <i class="<%= link.links_icon %> fa-2x mb-2 text-dark" style="display:none;"></i>
                          <span class="d-block text-dark"><%= link.links_display_name %></span> <!-- Added text-dark class -->
                        </a>
                      <% end %>
                    </div>
                    <% if (index + 1) % 4 == 0 %>
                      </div><div class="row mt-4">
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% else %>
              <div class="text-center mt-4">
                <h1 id="welcomeHeader" class="display-4 text-dark">Welcome to Loftwah's Dashboard</h1>
                <p class="lead mt-4 text-dark">Please sign in to see your personalized settings.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
