<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <h2 class="font-bold"><%= pluralize(link.errors.count, 'error') %> prohibited this link from being saved:</h2>
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: 'block text-lime-200 mb-2' %>
    <%= form.text_field :title, class: 'block w-full px-3 py-2 text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :url, class: 'block text-lime-200 mb-2' %>
    <%= form.text_field :url, class: 'block w-full px-3 py-2 text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: 'block text-lime-200 mb-2' %>
    <%= form.text_area :description, class: 'block w-full px-3 py-2 text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :icon, class: 'block text-lime-200 mb-2' %>
    <%= form.text_field :icon, class: 'block w-full px-3 py-2 text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :position, class: 'block text-lime-200 mb-2' %>
    <%= form.number_field :position, class: 'block w-full px-3 py-2 text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :visible, class: 'block text-lime-200 mb-2' %>
    <%= form.check_box :visible, class: 'text-black' %>
  </div>

  <div class="mb-4">
    <%= form.label :pinned, class: 'block text-lime-200 mb-2' %>
    <%= form.check_box :pinned, class: 'text-black' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
<% end %>
