<%= form_with(model: link, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :links_group, class: 'form-label' %>
      <%= form.text_field :links_group, class: 'form-control', placeholder: 'Group' %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :links_url, class: 'form-label' %>
      <%= form.text_field :links_url, class: 'form-control', placeholder: 'URL' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :links_display_name, class: 'form-label' %>
      <%= form.text_field :links_display_name, class: 'form-control', placeholder: 'Display Name' %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :links_icon, class: 'form-label' %>
      <%= form.text_field :links_icon, class: 'form-control', placeholder: 'Icon' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3 form-check">
      <%= form.check_box :links_enabled, class: 'form-check-input' %>
      <%= form.label :links_enabled, class: 'form-check-label' %> Enabled
    </div>
    <div class="col-md-6 mb-3 form-check">
      <%= form.check_box :links_pinned, class: 'form-check-input' %>
      <%= form.label :links_pinned, class: 'form-check-label' %> Pinned
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :public, 'Public?', class: 'form-label' %>
      <%= form.check_box :public, class: 'form-check-input' %>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :position, class: 'form-label' %>
      <%= form.number_field :position, class: 'form-control', placeholder: 'Position' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form.submit 'Save', class: 'btn btn-primary mb-3' %>
    </div>
  </div>
<% end %>
