<div class="container-fluid h-100 d-flex flex-column">
  <div class="row flex-grow-1 overflow-auto">
    <div class="col">
      <div class="container mt-5">
        <h1 class="display-4 mb-4 text-light">Links</h1>
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-app-drawer">
            <thead class="thead-dark">
              <tr>
                <th>Group</th>
                <th>URL</th>
                <th>Display Name</th>
                <th class="text-center">Icon</th>
                <th>Enabled</th>
                <th>Pinned</th>
                <th>Position</th> <!-- New column header -->
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @links.each do |link| %>
                <tr>
                  <td><%= link.links_group %></td>
                  <td><%= link.links_url %></td>
                  <td><%= link.links_display_name %></td>
                  <td class="text-center">
                    <img 
                      src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
                      alt="favicon" 
                      class="fa-2x text-light"
                      onerror="this.alt=''; this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
                    <i class="<%= link.links_icon %> fa-2x text-light" style="display:none;"></i>
                </td>
                  <td class="<%= link.links_enabled ? 'text-success' : 'text-danger' %>">
                    <%= link.links_enabled ? 'Enabled' : 'Disabled' %>
                  </td>
                  <td class="<%= link.links_pinned ? 'text-primary' : '' %>">
                    <%= link.links_pinned ? 'Pinned' : 'Not Pinned' %>
                  </td>
                  <td><%= link.position %></td> <!-- New column data -->
                  <td>
                    <%= link_to edit_link_path(link), class: 'btn btn-primary btn-sm' do %>
                      <i class="fas fa-edit"></i> Edit
                    <% end %>
                    <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                      <i class="fas fa-trash"></i> Delete
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to new_link_path, class: 'btn btn-success btn-lg' do %>
          <i class="fas fa-plus"></i> New Link
        <% end %>
      </div>
    </div>
  </div>
</div>
