<div class="container">
  <h1 class="display-4">Links</h1>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Group</th>
        <th>URL</th>
        <th>Display Name</th>
        <th>Icon</th>
        <th>Enabled</th>
        <th>Pinned</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.links_group %></td>
          <td><%= link.links_url %></td>
          <td><%= link.links_display_name %></td>
          <td><i class="<%= link.links_icon %>"></i></td>
          <td><%= link.links_enabled %></td>
          <td><%= link.links_pinned %></td>
          <td>
            <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Link', new_link_path, class: 'btn btn-success' %>
</div>
