<div class="container">
  <h1 class="display-4">Show Link</h1>
  <div class="list-group">
    <div class="list-group-item">
      <strong>Group:</strong> <%= @link.links_group %>
    </div>
    <div class="list-group-item">
      <strong>URL:</strong> <%= @link.links_url %>
    </div>
    <div class="list-group-item">
      <strong>Display Name:</strong> <%= @link.links_display_name %>
    </div>
    <div class="list-group-item">
      <strong>Icon:</strong> <i class="<%= @link.links_icon %>"></i>
    </div>
    <div class="list-group-item">
      <strong>Enabled:</strong> <%= @link.links_enabled %>
    </div>
    <div class="list-group-item">
      <strong>Pinned:</strong> <%= @link.links_pinned %>
    </div>
  </div>
  <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-primary mt-3' %>
</div>
