<div class="container mt-4">
  <h1 class="display-4 mb-4">Show Link</h1>
  <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Group:</span>
      <span><%= @link.links_group %></span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">URL:</span>
      <span><%= @link.links_url %></span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Display Name:</span>
      <span><%= @link.links_display_name %></span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Icon:</span>
      <span class="d-flex align-items-center">
        <img 
          src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
          alt="favicon" 
          class="fa-2x text-light"
          onerror="this.alt=''; this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
        <i class="<%= link.links_icon %> fa-2x text-light" style="display:none;"></i>
      </span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Enabled:</span>
      <span><%= @link.links_enabled %></span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Pinned:</span>
      <span><%= @link.links_pinned %></span>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span class="fw-bold">Position:</span>
      <span><%= @link.position %></span>
    </div>
  </div>
  <a href="<%= edit_link_path(@link) %>" class="btn btn-primary mt-4">Edit</a>
</div>
