<div class="profile-header max-w-4xl mx-auto">
  <div class="banner" style="background-image: url(<%= @user.banner %>); height: 250px; background-size: cover; background-position: center;">
  </div>
  <div class="avatar-container relative flex items-end px-2" style="top: -40px;">
    <div class="avatar">
      <img src="<%= @user.avatar %>" alt="<%= @user.email %>" class="rounded-full w-32 h-32 border-4 border-white">
    </div>
    <div class="user-info ml-4">
      <h1 class="text-xl font-bold text-white text-stroke"><%= @user.full_name %></h1>
      <h2 class="text-l font-bold text-white text-stroke"><%= @user.username %></h2>
      <div class="tags flex flex-wrap mt-2">
        <% @user.tags.each do |tag| %>
          <span class="tag bg-gray-700 text-white rounded px-2 py-1 mr-1 mb-1"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
  <% if @pinned_links.any? %>
    <div class="pinned-links-section px-2 mt-4">
      <div class="pinned-links flex flex-wrap">
        <% @pinned_links.each do |link| %>
          <%= link_to link.url, target: "_blank", class: 'icon-link bg-gray-800 p-2 mr-1 mb-1' do %>
            <i class="<%= link.icon %> text-lime-300"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="description px-2 pb-4">
    <p class="text-lg text-white"><%= auto_link_urls(@user.description) %></p>
  </div>
</div>

<div class="links-section max-w-4xl mx-auto mt-8">
  <h2 class="text-2xl font-bold pt-2 pb-2 text-center text-white">Links</h2>
  <ul class="space-y-4">
    <% @links.where(pinned: false).each do |link| %>
      <li class="bg-gray-800 p-3 rounded shadow-md max-w-2xl mx-auto text-center">
        <h2 class="text-xl text-lime-300 font-bold">
          <%= link_to link.url, target: "_blank", class: 'hover:underline' do %>
            <i class="<%= link.icon %> text-lime-300"></i> <%= link.title %>
          <% end %>
        </h2>
        <p class="text-gray-400"><%= link.description %></p>
      </li>
    <% end %>
  </ul>
</div>

<% if @achievements.present? %>
  <div class="achievements-section max-w-4xl mx-auto mt-12">
    <h2 class="text-2xl font-bold pt-2 pb-2 text-center text-white">Achievements</h2>
    <ul class="space-y-4">
      <% @achievements.each do |achievement| %>
        <li class="bg-gray-800 p-3 rounded shadow-md max-w-2xl mx-auto text-center">
          <h2 class="text-xl text-lime-300 font-bold">
            <% if achievement.icon.present? %>
              <i class="<%= achievement.icon %> text-lime-300"></i>
            <% end %>
            <% if achievement.url.present? %>
              <%= link_to achievement.title, achievement.url, class: 'text-lime-300 hover:underline', target: "_blank" %>
            <% else %>
              <%= achievement.title %>
            <% end %>
          </h2>
          <p class="text-gray-400"><%= achievement.description %></p>
          <p class="text-gray-500">Date: <%= achievement.date.strftime("%d %b %Y") %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="achievements-section max-w-4xl mx-auto mt-12">
    <p class="text-gray-500 text-center">No achievements to display.</p>
  </div>
<% end %>
