<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>

        <div class="form-group mt-3">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
