<h2 class="text-2xl font-bold mb-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-2">
    <%= f.label :email, class: 'block text-gray-300 mb-1' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full p-1 rounded text-black' %>
  </div>

  <div class="mb-2">
    <%= f.label :password, class: 'block text-gray-300 mb-1' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'w-full p-1 rounded text-black' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-2 flex items-center">
      <%= f.check_box :remember_me, class: 'mr-2' %>
      <%= f.label :remember_me, class: 'text-gray-300' %>
    </div>
  <% end %>

  <div class="actions mb-2">
    <%= f.submit "Log in", class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-1 px-2 rounded' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
