<h1 class="text-2xl font-bold mb-4">Achievements</h1>
<% if user_signed_in? %>
  <%= link_to 'New Achievement', new_achievement_path, class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block' %>
<% end %>

<ul class="space-y-4">
  <% @achievements.each do |achievement| %>
    <li class="bg-gray-800 p-4 rounded shadow-md">
      <h2 class="text-xl text-lime-300 font-bold">
        <% if achievement.icon.present? %>
          <i class="<%= achievement.icon %>"></i>
        <% end %>
        <%= achievement.title %>
      </h2>
      <p class="text-gray-400"><%= achievement.description %></p>
      <p class="text-gray-500">Date: <%= achievement.date.strftime("%d %b %Y") %></p>
      <% if achievement.url.present? %>
        <p class="text-gray-500">URL: <a href="<%= achievement.url %>" class="text-lime-300 hover:underline" target="_blank"><%= achievement.url %></a></p>
      <% end %>

      <!-- Edit and Delete Buttons -->
      <div class="mt-4 flex space-x-2">
        <% if user_signed_in? && achievement.user == current_user %>
          <%= link_to 'Edit', edit_achievement_path(achievement), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded' %>
          <%= link_to 'Delete', achievement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded cursor-pointer' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
