<div class="container-fluid bg-dark text-light min-vh-100 d-flex flex-column align-items-center justify-content-center">
  <!-- User Information -->
  <div class="text-center mb-5">
    <img src="https://github.com/<%= @user.username %>.png" alt="User Avatar" class="rounded-circle mb-3" width="150">
    <h1 class="display-4"><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="lead"><%= @user.username %></p>
    <p class="text-light"><%= @user.short_description %></p>
    <div class="d-inline-block">
      <% @user.tags.split(",").each do |tag| %>
        <span class="badge badge-light m-1 hoverable-tag"><%= tag.strip %></span>
      <% end %>
    </div>
  </div>

  <!-- Public Links -->
  <div class="w-100">
    <h2 class="text-center text-light mb-5">Public Links</h2>
    <div class="row justify-content-center">
      <% @public_links.each do |link| %>
        <div class="col-md-8 mb-4">
          <div class="card stylish-card">
            <div class="card-body text-center d-flex flex-column align-items-center">
              <img src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
              alt="favicon" 
              class="mb-2"
              onerror="this.alt=''; this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
              <i class="<%= link.links_icon %> mb-2" style="display:none;"></i>
              <h5 class="card-title mb-0">
                <a href="<%= link.links_url %>" class="text-dark text-decoration-none" target="_blank">
                  <%= link.links_display_name %>
                </a>
              </h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .hoverable-tag:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .stylish-card {
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    transition: all .15s ease;
  }

  .stylish-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0,0,0,.2);
  }
</style>
