<!DOCTYPE html>
<html>
<head>
  <title>Your App Title</title>
  <link rel="stylesheet" href="https://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css">
  <style>
   <!DOCTYPE html>
<html>
<head>
  <title>Your App Title</title>
  <link rel="stylesheet" href="https://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css">
  <style>
    /* Background */
    body {
      background: #000 url("https://code.divshot.com/geo-bootstrap/img/test/mchammer.gif") repeat;
      color: #00FF00;
      font-family: "Comic Sans MS";
    }

    /* Windows 95 Background */
    .bg-wrapper {
      background-image: url('https://images.hive.blog/0x0/https://steemitimages.com/DQmXtwVCkFTERvHq8crngqNvGGzXzPEWafkwsfv5mzF5hhJ/image.png');
      padding: 20px;
      border: 4px inset #00FF00;
      border-radius: 15px;
      margin: 10px;
    }

    /* Spacing Adjustments */
  h1, h2 {
    margin-bottom: 20px;
  }

  .tag {
    margin: 5px;
  }

  /* Added margin to the animated GIF */
  img[src='https://i.gifer.com/Ca9.gif'] {
    margin-bottom: 20px; 
  }

    /* Marquee */
    marquee {
      font-size: 24px;
      font-weight: bold;
    }

    /* Buttons */
    .animated-button {
      background: transparent url('https://www.animatedimages.org/data/media/56/animated-button-image-0008.gif') repeat-x;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
    }

    /* 3D Elements */
    .bg-wrapper,
    .animated-button {
      box-shadow: 0 0 10px 3px #FF00FF;
    }

    /* Comic Sans and 3D Text */
    h1, h2, h3 {
      font-family: "Comic Sans MS";
      text-shadow: 3px 3px #FF00FF;
    }

    /* Tag Styling */
    .tag {
      background-color: #000080;
      border: 2px dotted #FFFFFF;
      border-radius: 5px;
      padding: 5px;
    }

    /* QR code SVG */
    #qrCodeSVG path {
      fill: #ffffff !important;
    }
  </style>
</head>
<body class="geo" bgcolor="#000000">
  <marquee>Welcome to <%= @user.first_name %>'s rad '90s page!</marquee>
  <div class="bg-wrapper">
    <center>
      <img src="https://github.com/<%= @user.username %>.png" width="150" align="middle"><br>
      <h1><%= @user.first_name %> <%= @user.last_name %> AKA <%= @user.username %></h1>
      <h2><%= @user.short_description %></h2>
      <br>
      <img src="https://i.gifer.com/Ca9.gif" width="200" align="middle">
      <br>
      <% @user.tags.split(",").each do |tag| %>
        <span class="tag"><%= tag.strip %></span>
      <% end %>
      <hr>
      <% @public_links.each do |link| %>
        <a href="<%= link.links_url %>" class="animated-button" style="text-decoration: none; color: #00FF00;">
          <img src="https://www.google.com/s2/favicons?domain=<%= URI.parse(link.links_url).host.split('.').last(2).join('.') %>" 
          align="middle"> <%= link.links_display_name %>
        </a><br>
      <% end %>
      <hr>
      <div id="qrCodeDiv">
        <%= raw @qr.as_svg(id: 'qrCodeSVG', offset: 0, color: 'ffffff',
                            shape_rendering: 'crispEdges',
                            module_size: 6) %>
      </div>
    </center>
  </div>
  <marquee behavior="alternate">Visit again soon!</marquee>
</body>
</html>