<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>

  <!-- Import nes.css -->
  <link href="https://cdn.jsdelivr.net/npm/nes.css/css/nes.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <!-- NES-themed Styles -->
  <style>
    body {
      font-family: "Press Start 2P";
      background-color: #2d2d2d;
      color: #FFF;
      text-align: center;
    }

    #main-nes-container {
      max-width: 80%;
      margin: auto;
      padding-top: 20px;
      background: url('<%= asset_path 'background.png' %>') center/cover;
      border: 4px solid #000;
      border-radius: 16px;
    }

    .nes-avatar.is-rounded {
      margin-bottom: 20px;
    }

    .control-buttons {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .qr-code-container, .user-details-container, .public-links-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

  </style>
</head>
<body>

  <!-- Main NES-themed Container -->
  <div id="main-nes-container" class="nes-container with-title is-rounded is-dark">
    <p class="title">Welcome, <%= @user.username %></p>

    <div class="avatar-and-controls">
      <img src="https://github.com/<%= @user.username %>.png" alt="User Avatar" class="nes-avatar is-rounded is-large">
      <div class="control-buttons">
        <button id="playMidi" class="nes-btn is-primary">Play</button>
        <button id="stopMidi" class="nes-btn is-error">Stop</button>
      </div>
    </div>

    <!-- User Details -->
    <div class="nes-container user-details-container is-rounded is-dark">
      <p>@<%= @user.username %></p>
      <p><%= @user.short_description %></p>
      <% @user.tags.split(",").each do |tag| %>
        <button class="nes-btn is-success"><%= tag.strip %></button>
      <% end %>
    </div>

    <!-- Public Links -->
    <div class="nes-container public-links-container is-rounded is-dark">
      <p class="title">Public Links</p>
      <% @public_links.each do |link| %>
        <a href="<%= link.links_url %>" class="nes-btn is-primary" target="_blank">
          <%= link.links_display_name %>
        </a>
      <% end %>
    </div>

    <!-- QR Code -->
    <div class="nes-container qr-code-container is-rounded is-dark">
      <%= raw @qr.as_svg(id: 'qrCodeSVG', offset: 0, color: 'FFF', shape_rendering: 'crispEdges', module_size: 6) %>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/tone@14"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tonejs/midi"></script>

  <!-- Your JavaScript Code -->
  <script>
    let synth;

    document.addEventListener('DOMContentLoaded', (event) => {

      // Play the MIDI file when the button is clicked
      document.getElementById('playMidi').addEventListener('click', function() {
        fetch("/midi/title-screen.mid")
          .then(response => response.arrayBuffer())
          .then(arrayBuffer => new Uint8Array(arrayBuffer))
          .then(bytes => new Midi(bytes))
          .then(midi => {
            synth = new Tone.Synth().toDestination();
            const now = Tone.now();
            let time = now;
            midi.tracks[0].notes.forEach(note => {
              time += note.duration;
              synth.triggerAttackRelease(note.name, note.duration, time, note.velocity);
            });
          })
          .catch(e => console.error(e));
      });

      // Stop the MIDI playback when the button is clicked
      document.getElementById('stopMidi').addEventListener('click', function() {
        if (synth) {
          synth.dispose();
          synth = null;
        }
      });
    });
  </script>
</body>
</html>