<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>

  <!-- Import nes.css -->
  <link href="https://cdn.jsdelivr.net/npm/nes.css/css/nes.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <!-- NES-themed Styles -->
  <style>
    body {
      font-family: "Press Start 2P";
    }

    #main-nes-container {
      max-width: 80%;
      margin: auto;
    }
  </style>
</head>
<body>

  <!-- Main NES-themed Container -->
  <div id="main-nes-container" class="nes-container with-title is-centered is-dark">
    <p class="title">User Profile</p>
    
    <img src="https://github.com/<%= @user.username %>.png" alt="User Avatar" class="nes-avatar is-rounded is-large">
    
    <div class="nes-container is-rounded is-dark">
      <p>@<%= @user.username %></p>
      <p><%= @user.short_description %></p>
      <% @user.tags.split(",").each do |tag| %>
        <button class="nes-btn is-success"><%= tag.strip %></button>
      <% end %>
    </div>

    <!-- Public Links -->
    <div class="nes-container is-rounded is-dark">
      <p class="title">Public Links</p>
      <% @public_links.each do |link| %>
        <a href="<%= link.links_url %>" class="nes-btn is-primary" target="_blank">
          <%= link.links_display_name %>
        </a>
      <% end %>
    </div>
  </div>

  <!-- Save and Copy Image Script -->
  <script>
    // Save Image
    document.getElementById('saveImage').addEventListener('click', function() {
      let svg = document.querySelector('#qrCodeDiv svg');
      let svgData = new XMLSerializer().serializeToString(svg);
      let blob = new Blob([svgData], { type: "image/svg+xml;charset=utf-8" });
      let url = window.URL.createObjectURL(blob);
      let a = document.createElement("a");
      a.href = url;
      a.download = "QRCode.svg";
      a.click();
    });
    
    // Copy Image
    document.getElementById('copyImage').addEventListener('click', function() {
      let svg = document.querySelector('#qrCodeDiv svg');
      let svgData = new XMLSerializer().serializeToString(svg);
      let blob = new Blob([svgData], { type: "image/svg+xml;charset=utf-8" });
      let url = window.URL.createObjectURL(blob);
      let tempInput = document.createElement('input');
      document.body.appendChild(tempInput);
      tempInput.value = url;
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
    });
  </script>

</body>
</html>
