<%= form_with(model: kanban) do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.fields_for :kanban_columns do |column_form| %>
    <div class="mb-3">
      <%= column_form.label :name, 'Column Name' %>
      <%= column_form.text_field :name, class: "form-control" %>

      <%= column_form.fields_for :cards do |card_form| %>
        <div class="mb-2">
          <%= card_form.label :name, 'Card Name' %>
          <%= card_form.text_field :name, class: "form-control" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
