<!-- app/views/kanbans/show.html.erb -->
<div class="container mt-4" data-controller="kanban" data-id="<%= @kanban.id %>">
  <div class="row">
    <% @kanban.kanban_columns.each do |column| %>
      <div class="col-md-3">
        <div class="kanban-col" data-col-id="<%= column.id %>">
          <div class="kanban-col-name"><%= column.name %></div>
          <ul class="kanban-col-items">
            <% column.cards.sort_by { |card| card.position }.each do |item| %>
              <li class="kanban-col-item" data-item-id="<%= item.id %>">
                <%= item.content %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
