<!-- app/views/kanbans/show.html.erb -->
<div class="container mt-4" data-controller="kanban" data-id="<%= @kanban.id %>">
  <div class="row">
    <% @kanban.kanban_columns.each do |column| %>
      <div class="col-md-3">
        <div class="card kanban-col" data-col-id="<%= column.id %>">
          <div class="card-header text-white bg-primary kanban-col-name">
            <%= column.name %>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush kanban-col-items">
              <% column.cards.sort_by { |card| card.position }.each do |item| %>
                <li class="list-group-item kanban-col-item" data-item-id="<%= item.id %>">
                  <%= item.content %>
                  <%= link_to 'Edit', edit_kanban_kanban_column_card_path(@kanban, column, item), class: 'btn btn-sm btn-warning' %>
                  <%= link_to 'Delete', kanban_kanban_column_card_path(@kanban, column, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <%= form_with(model: [@kanban, column, Card.new], local: true) do |f| %>
              <div class="d-flex">
                <%= f.text_field :content, class: 'form-control', placeholder: 'New card...' %>
                <%= f.submit 'Add', class: 'btn btn-primary ml-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
