<!DOCTYPE html>
<html>
  <head>
    <title>CustomDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %> |
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</nav>
    <%= yield %>
  </body>
</html>
