<!DOCTYPE html>
<html>
  <head>
    <title>Linkarooie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? content_for(:og_title) : 'Linkarooie' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? content_for(:og_description) : 'Default description for Linkarooie' %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? content_for(:og_image) : image_url('default_og_image.png') %>">
    <meta property="og:url" content="<%= content_for?(:og_url) ? content_for(:og_url) : root_url %>">
  </head>

  <body class="bg-gray-900 text-white">
    <header class="bg-gray-800 shadow relative">
      <div class="absolute top-0 right-0 mt-2 mr-2">
        <% if notice %>
          <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 relative" role="alert">
            <p class="font-bold">Notice:</p>
            <p><%= notice %></p>
            <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-2 mr-2 text-green-700">
              &times;
            </button>
          </div>
        <% end %>
        <% if alert %>
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 relative" role="alert">
            <p class="font-bold">Alert:</p>
            <p><%= alert %></p>
            <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-2 mr-2 text-red-700">
              &times;
            </button>
          </div>
        <% end %>
      </div>
      <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <div class="flex items-center">
          <%= image_tag "icon.png", class: "h-6 mr-2", alt: "Linkarooie" %>
          <h1 class="text-1xl font-bold text-lime-200">Linkarooie</h1>
        </div>
        <nav>
          <ul class="flex space-x-4 text-sm md:text-base">
            <li><%= link_to 'Loftwah', user_links_path('loftwah'), class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-1 px-2 rounded' %></li>
            <li><%= link_to 'Home', root_path, class: 'text-white hover:text-lime-300' %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'My Public Page', user_links_path(current_user.username), class: 'text-white hover:text-lime-300' %></li>
              <li><%= link_to 'Edit Links', links_path, class: 'text-white hover:text-lime-300' %></li>
              <li><%= link_to 'Edit Achievements', achievements_path, class: 'text-white hover:text-lime-300' %></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'text-white hover:text-lime-300' %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'text-white hover:text-lime-300' %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path, class: 'text-white hover:text-lime-300' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container mx-auto px-4 py-6">
      <%= yield %>
    </main>
    <footer class="bg-gray-800 shadow mt-12">
      <div class="container mx-auto px-4 py-6 text-center">
        <p class="text-gray-400">© 2024 Linkarooie. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
