<!DOCTYPE html>
<html>
  <head>
    <title>Linkarooie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Generic Open Graph Meta Tags (for general application pages) -->
    <%= tag.meta property: 'og:type', content: 'website' %>
    <%= tag.meta property: 'og:site_name', content: 'Linkarooie' %>
    <%= tag.meta property: 'og:locale', content: 'en_US' %>
    <%= tag.meta property: 'og:updated_time', content: '2024-08-08T12:00:19Z' %>

    <%= tag.meta property: 'og:title', content: 'Linkarooie - Simplify Your Online Presence' %>
    <%= tag.meta property: 'og:description', content: 'Manage all your links in one place with Linkarooie. Create a central hub for your social and professional profiles.' %>
    <%= tag.meta property: 'og:image', content: image_url('default_og_image.png') %>
    <%= tag.meta property: 'og:image:alt', content: 'Linkarooie logo' %>
    <%= tag.meta property: 'og:url', content: root_url %>

    <!-- Generic Twitter Card Meta Tags (for general application pages) -->
    <%= tag.meta name: 'twitter:card', content: content_for?(:og_image) ? content_for(:og_image) : image_url('default_og_image.png') %>
    <%= tag.meta name: 'twitter:title', content: 'Linkarooie - Simplify Your Online Presence' %>
    <%= tag.meta name: 'twitter:description', content: 'Manage all your links in one place with Linkarooie. Create a central hub for your social and professional profiles.' %>
    <%= tag.meta name: 'twitter:image', content: image_url('default_og_image.png') %>
    <%= tag.meta name: 'twitter:image:alt', content: 'Linkarooie logo' %>
    <%= tag.meta name: 'twitter:site', content: '@loftwah' %>
    <%= tag.meta name: 'twitter:creator', content: '@loftwah' %>

    <!-- SEO Meta Tags -->
    <%= tag.meta name: 'description', content: 'Linkarooie helps you manage all your links in one place, making it easy to simplify your online presence and create a central hub for your social and professional profiles.' %>
    <%= tag.link rel: 'canonical', href: root_url %>

    <!-- Optional: Structured Data for SEO -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "headline": "Linkarooie - Simplify Your Online Presence",
      "description": "Manage all your links in one place with Linkarooie. Create a central hub for your social and professional profiles.",
      "url": "<%= root_url %>",
      "image": "<%= image_url('default_og_image.png') %>",
      "datePublished": "2024-08-08T12:00:19Z",
      "creator": "Loftwah"
    }
    </script>
  </head>

  <body class="bg-gray-900 text-white">
    <header class="bg-gray-800 shadow relative">
      <div class="absolute top-0 right-0 mt-2 mr-2 z-50">
        <% if notice %>
          <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 relative" role="alert">
            <p class="font-bold">Notice:</p>
            <p><%= notice %></p>
            <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-2 mr-2 text-green-700">
              &times;
            </button>
          </div>
        <% end %>
        <% if alert %>
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 relative" role="alert">
            <p class="font-bold">Alert:</p>
            <p><%= alert %></p>
            <button onclick="this.parentElement.style.display='none'" class="absolute top-0 right-0 mt-2 mr-2 text-red-700">
              &times;
            </button>
          </div>
        <% end %>
      </div>
      <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <div class="flex items-center">
          <%= image_tag "icon.png", class: "h-6 mr-2", alt: "Linkarooie" %>
          <h1 class="text-1xl font-bold text-lime-200">
            <%= link_to 'Linkarooie', root_path, class: 'text-lime-200 hover:text-lime-300' %>
          </h1>
        </div>
        <nav>
          <ul class="flex space-x-2 md:space-x-4 text-sm md:text-base items-center">
            <li>
            <%= link_to users_path, class: 'bg-lime-500 hover:bg-lime-700 text-white font-bold py-1 px-2 rounded inline-flex items-center space-x-2' do %>
              <i class="fas fa-compass"></i>
              <span>Users</span>
            <% end %>
          </li>
            <% if user_signed_in? %>
              <li class="relative" data-controller="dropdown">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide" class="text-white hover:text-lime-300 focus:outline-none flex items-center space-x-1">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
                </button>
                <div data-dropdown-target="menu" class="hidden absolute right-0 mt-2 w-48 bg-gray-700 rounded-md shadow-xl z-20">
                  <%= link_to 'Public Page', user_links_path(current_user.username), class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                  <%= link_to 'Analytics', user_analytics_path(current_user.username), class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                  <%= link_to 'Links', links_path, class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                  <%= link_to 'Achievements', achievements_path, class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                  <%= link_to 'Profile', edit_user_registration_path, class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'block px-4 py-2 text-sm text-white hover:bg-gray-600' %>
                </div>
              </li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path, class: 'text-white hover:text-lime-300' %></li>
            <% end %>

            <li>
              <a href="https://github.com/loftwah/linkarooie" target="_blank" rel="noopener noreferrer" class="text-white hover:text-lime-300">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.166 6.839 9.489.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.603-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.463-1.11-1.463-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.831.092-.646.35-1.086.636-1.336-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0112 6.844c.85.004 1.705.114 2.504.336 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.743 0 .267.18.578.688.48C19.138 20.161 22 16.418 22 12c0-5.523-4.477-10-10-10z"/>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container mx-auto px-4 py-6">
      <%= yield %>
    </main>
    <footer class="bg-gray-800 shadow mt-12">
      <div class="container mx-auto px-4 py-6 text-center">
        <p class="text-gray-400">© 2024 Linkarooie. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>