<!DOCTYPE html>
<html>
<head>
  <title>Linkaroo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <style>
    input.form-control.dark-placeholder::placeholder {
      color: #ffffff;
    }
  </style>
</head>
<body 
  class="<%= (current_user&.background_color.present? || (current_user&.background_image&.attached?)) ? '' : 'bg-dark text-light' %>"
  style="<%= 'background-image: url(' + url_for(current_user.background_image) + ');' if current_user&.background_image&.attached? %>
       <%= 'background-color:' + current_user.background_color + ';' if current_user&.background_color.present? %>">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-3">
    <div class="d-flex align-items-center">
        <% if user_signed_in? %>
        <a href="/"><img src="https://github.com/<%= current_user.username %>.png" class="rounded-circle" width="30" height="30" style="margin-right: 15px;"></a>
        <% end %>
        <a class="navbar-brand" href="/">Linkaroo</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <!-- Left-aligned items go here -->
      </ul>
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item px-2">
            <span class="badge badge-secondary">@<%= current_user.username %></span>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item px-2">
            <%= link_to 'Links', links_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Settings', edit_settings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item px-2">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container-fluid h-100 mt-4 d-flex flex-column">
    <%= yield %>
</div>
</body>
</html>
