<!DOCTYPE html>
<html>
<head>
  <title>Linkarooie</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <style>
    input.form-control.dark-placeholder::placeholder {
      color: #ffffff;
    }
  </style>
</head>
<body 
  class="<%= (@user&.background_color.present? || (@user&.background_image&.attached?)) ? '' : 'bg-dark text-light' %>"
  style="<%= 'background-image: url(' + url_for(@user.background_image) + ');' if @user&.background_image&.attached? %>
         <%= 'background-color:' + @user.background_color + ';' if @user&.background_color.present? %>">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-3 navbar-collapsed">
    <div class="d-flex align-items-center">
      <% if user_signed_in? %>
        <%= link_to user_public_links_path(current_user.username) do %>
          <img src="https://github.com/<%= current_user.username %>.png"
              onerror="this.onerror=null; this.src='https://via.placeholder.com/30';"
              class="rounded-circle" width="30" height="30" style="margin-right: 15px;">
        <% end %> 
      <% end %>
      <a class="navbar-brand" href="/">Linkarooie</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <!-- Left-aligned items go here -->
      </ul>
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item px-2">
            <span class="badge badge-secondary">@<%= current_user.username %></span>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!-- GitHub Icon Link -->
          <li class="nav-item px-2">
            <%= link_to '<i class="fab fa-github"></i>'.html_safe, 'https://github.com/loftwah/linkarooie', class: 'nav-link', target: '_blank' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Links', links_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Profile', user_public_links_path(current_user.username), class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Settings', edit_settings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item px-2">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container-fluid h-100 mt-4 d-flex flex-column">
    <%= yield %>
  </div>
</body>
</html>
